
header {
 position: absolute;
 right: 0px;
 top: 0px;
 text-align: right;

}
header ul li {
 display: inline-block;
 margin: 20px;
}

#search-box {
 width: 1500px;
 height: 25px;
 border: 1px solid #99999;
 padding: 5px;
 margin: 15px 0px 5px 70px;
 background-color: #e8eaed;
 border-radius: 6px
}



 .logo {
 	position: absolute;
 	max-width: 100%
 	height: auto;
 
 }

